
.button {
position: sticky;
bottom: 40px;
right: 40px;

border: none;
position: absolute;
width: 44px;
height: 44px;


background: #24CCA7;
/* green btn */
border-radius: 50%;
box-shadow: 0px 6px 15px rgba(36, 204, 167, 0.5);

// z-index: 0;
}

.button:hover,
.button:focus {
 
background-color: #0cb490;
}

.button_vectotA{
   
position: absolute;
    width: 0px;
    height: 20px;
    top: 23%;
        left: 45%;
      
background-color: #FFFFFF;
       
transform: rotate3d();
    border: 2px solid #FFFFFF;
    // transform: rotate(-90deg);
}

.button_vectotB {
position: absolute;
    width: 0px;
    height: 20px;

top: 23%;
    left: 45%;
    
background-color: #FFFFFF;
border: 2px solid #FFFFFF;
transform: rotate(-90deg);
}

/* :left- rith-40px */